.managepage_class{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.label_class{
    margin-top: 2rem;
}
.input_class{
    width: 50vw;
    height: 3rem;
    border: 2px solid black;
}
.selectopt_class{
    width: 50vw;
    height: 3rem;
    border: 2px solid black;
}
.botton_class{
    width: 50vw;
    height: 3rem;
    border: 2px solid black;
    margin-top: 2rem;
}
.divofaddvideo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.buttonuplode{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    /* width: 2rem; */
    padding: 1rem !important;
    border-radius: 2rem !important;
}
.label_class{
    color: white;
}